<!--add 2 link
1) index.html show the list of files
2) upload-file show the button and upload list after upload file & back button
3) stock exchange data page
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index Page</title>
    </head>
    <body>
        <header>
            <h1>My Stock Process</h1>
            <nav>
                <a href="#about">View Statistic</a> |
                <a href="#services">Upload File</a>
            </nav>
        </header>
        <section id="fileList">
            <h2>Upload Stock File</h2>
        </section>
    </body>
</html>
